.display-album {
  padding: 6em;
  display: flex;
  justify-content: space-evenly;
}

.background {
  background-image: url("./monsta-x-shape-of-love-all-members-phone-wallpaper-4k-uhdpaper.com-6@0@g.jpg");
  background-position: left 20px bottom 80px;
  background-repeat: no-repeat;
}
