.display-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.form-control.form {
  width: 85%;
  height: fit-content;
}

.btn.btn-outline-danger {
  width: auto;
  height: 60px;
  display: block;
  justify-content: baseline;
}
